$cBlack: black;

body {
  text-align: center;
}

// 引数には属性の値が入る。
// 引数には初期値を設定できる。
@mixin animation(
  $name,
  $duration: 1.4s,
  $delay: 3s,
  $timing: cubic-bezier(0.25, 0.1, 0.28, 1.9),
  // 基本的にnomalが初期値、ここではfowardsにしている。
  $fill-mode: forwards
){
  // 属性と値の引き合わせをここで設定。
  // animationが共通なので省略記法で書いてみる。
  animation: {
    name: $name;
    duration: $duration;
    delay: $delay;
    timing-function: $timing;
    fill-mode: $fill-mode;
  }
}

.rect {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: $cBlack;
  // 名前の変数に値を入れるだけでよく、コードの見通しがよくなる。
  @include animation($name: sk-bouncedelay)
}

.paused {
  animation-play-state: paused;
}

@keyframes sk-bouncedelay {
  from {
    transform: scale(0);
    background-color: black;
  }
  to {
    transform: scale(1);
    background-color: green;
  }
}

