$cWhite: white;
$cBlack: black;

.try {
  & .btn {
    padding: 10px 40px;
    margin: 10px auto;
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: $cBlack;
    background-color: $cWhite;
    border: 1px solid $cBlack;
    transition: all 0.3s;
    text-decoration: none !important;
    cursor: pointer;
    &.float:hover {
      color: $cWhite;
      background-color: $cBlack;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    }
    &.filled {
      color: $cWhite;
      background-color: $cBlack;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
      &:hover {
        color: $cBlack;
        background-color: $cWhite;
        box-shadow: unset;
      }
    }
    &.letter-spacing:hover {
      color: $cWhite;
      background-color: $cBlack;
      letter-spacing: 3px;
    }
    &.shadow:hover {
      transform: translate(-2.5px, -2.5px);
      box-shadow: 5px 5px 0 0 black;
    }
    &.solid {
      box-shadow: 2px 2px 0 0 black;
      border-radius: 7px;
      &:hover {
        transform: translate(2.5px, 2.5px);
        box-shadow: unset;

      }
    }
  }
}
