@use "../globals" as *;

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3:not(:first-of-type) {
  margin-top: 50px;
}

.btn {
  // width: 400px;
  padding: 10px 100px;
  font-weight: 600;
  color: $cBlack;
  background-color: $cWhite;
  border: 1px solid $cBlack;
  cursor: pointer;
  transition: all 0.3s;

  &.shadow:hover {
    transform: translateY(-3px);
    background-color: #eee;
    border: 1px solid rgba($color: $cBlack, $alpha: .3);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .6);
  }

  &.letter-spacing:hover {
    background-color: $cBlack;
    letter-spacing: 3px;
    color: $cWhite;
  }


  &.solid {
    box-shadow: 2px 2px 0 0 $cBlack;
    border-radius: 7px;

    &:hover {
      transform: translate(2px, 2px);
      box-shadow: none;
    }
  }

  &.slide-bg-span {
    position: relative;
    overflow: hidden;
    z-index: 1;
    & span {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      width: 100%;
      height: 100%;
      background-color: $cBlack;
      transition: transform 0.3s;
      z-index: -1;
    }
    &:hover {
      color: $cWhite;
      & span {
        transform: none;
      }
    }
  }

  &.slide-bg-pseudo {
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      content: "";
      width: 100%;
      height: 100%;
      background-color: $cBlack;
      transition: 0.6s cubic-bezier(0, 0.98, 0.32, 1.6);
      z-index: -1;
    }
    &:hover {
      color: $cWhite;
      &::before {
        transform: unset;
      }
    }
  }

  &.cover-3d {
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
    // perspective属性
    //   箱への視点が
    //   1000pxだと、遠くで見るような感じ
    //   100pxだと、近くで見ている感じ（パースがかかる）
    perspective: 500px;
    // perspective-origin
    //   視点をずらす
    //   問題は、浮かせているspan要素の文字がZ軸（前後）方向に手前に上げているから
    //   この属性を触るととんでもないところにレイアウトされてしまう。
    //   なのでこれは設定してはだめ。
    // perspective-origin: 500px 500px;

    & span {
      display: inline-block;
      transform: translateZ(20px);
    }

    &::before {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: $cBlack;
      // 上辺を軸に開閉する。
      transform: rotateX(90deg);
      transform-origin: top center;

      // 底辺を軸に開閉する。
      // transform: rotateX(-90deg);
      // transform-origin: bottom center;
      
      transition: all .3s;
      opacity: 0;
    }
    &:hover {
      // ホバーした時にパタンと閉まる『黒い』扉に文字が
      // 隠れてしまうので補色にする。
      color: $cWhite;
      &::before {
        transform: none;
        opacity: 1;
      }
    }
  }  
}
