// これってグローバルmenuで使えそうだ。

// 変数にmapを格納する。
// mapを使っている。
// mapとは何か？
$pattern: (
  "up": translateY(6px),
  "down": translateY(-6px),
  "left": translateX(40px),
  "right": translateX(-40px)
);

@each $key, $value in $pattern {
  // 変数を『セレクタ内』で使いたい場合にインタポレーションを使う。
  .appear.#{$key} {
    & .item {
      // 属性の値で変数を展開したい場合は直書きで大丈夫。
      transform: $value;
    }
  }
}

.appear {
  & .item {
    // 全体のアニメーションの中で、
    // この部分だけを別にしてコントロールしたいわけ。
    // これをmapに格納して@eachで展開する。
    // transform: translateY(-6px);
    transition: all 0.8s;
    opacity: 0;
  }
  &.inview {
    & .item {
      opacity: 1;
      transform: none;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.1s;
        }
      }
    }
  }
}